<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744254868856-d21fmkjhkulq9m9dqm59devmk5qd95nk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744254868856-d21fmkjhkulq9m9dqm59devmk5qd95nk</string>
	<key>API_KEY</key>
	<string>AIzaSyDcsvdMFLFd_Eqy-tni6Dnnkp5NgvquRIg</string>
	<key>GCM_SENDER_ID</key>
	<string>744254868856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>fir-9432d</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-9432d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744254868856:ios:0952c8c9f93c8d07d20c8d</string>
	<key>DATABASE_URL</key>
	<string>https://fir-9432d.firebaseio.com</string>
</dict>
</plist>